form {
	font-family: tahoma, verdana, "sans-serif";
	font-size: 14px;
}

/* .form fieldset {
	margin-top: 20px;
	padding: 15px;
	padding-left: 30px;
}
 */
.form legend {
	font-size: 22px;
	color: #15428B;
	font-weight: 600;
}

/* .form textarea {
	color: #555;
	padding: 4px;
	border: 1px solid #B5B8C8;
	font-size: 14px;
} */
.form .btn {
	background: #4691A4;
	border: 1px solid #AAA;
	padding: 8px, 6px, 6px, 8px;
	margin-top: 10px;
	float: left;
	text-decoration: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
}